.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}
.flex-item-left {
  background-color: rgb(212, 213, 207);
  height: 100vh;
  padding:0cm;
  flex: 20%;
}
.profileLogoAndDescriptio{
  margin-left: 10px;
}
img{
  border-radius: 50%;
  height: 4cm;
  width: 4cm;
  margin-left: 12px;
  margin-top: 5px;
}
.aboutLogoAndDescription{
  margin-top: 30px;
  width: 100%;
  height: 1.5cm;
  background-color: #e89e2e;
  color: black;
}
.aboutLogo{
  height: 40px;
  width: 40px;
}
.aboutLogoDescription{
  font-size: 30px;
}
.aboutDescription{
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
 }
 .contactLogoAndDescription{
  margin-top: 30px;
  width: 100%;
  height: 1.5cm;
  background-color: #e89e2e;
  color: black;
}
.contactDescription{
  font-size: 18px;
}
.skillLogoAndDescription{
  margin-top: 30px;
  width: 100%;
  height: 1.5cm;
  background-color: #e89e2e;
  color: black; 
}
.skillDescription{
  font-size: 18px;
}

.flex-item-right {
  background-color: rgb(242, 245, 240);
  padding: 0px;
  flex: 80%;
}
.flex-item-up{
  background-color: rgb(242, 245, 240);
  padding: 0px;
  flex: 80%;
}
.projectAndDescription{
  font-size: 30px;
  margin-top: 30px;
  width: 100%;
  height: 1.5cm;
  background-color: #e89e2e;
  color: black; 
}
.flex-item-down{
  padding: 0px;
  flex: 80%;
}
.aboutSprtsProject{
  text-align: left;
  font-size: 18px;
  /* background-image: url('./components/Image/sportsBackground.jpg'); */
}
.aboutEducationProject{
  text-align: left;
  font-size: 18px;
  /* background-image: url('./components/Image/educationBackground.jpg'); */
}
.aboutTrafficProject{
  text-align: left;
  font-size: 18px;
  /* background-image: url('./components/Image/trafficBackground.jpg'); */
}
.experienceHeading{
  font-size: 30px;
  margin-top: 30px;
  width: 100%;
  height: 1.5cm;
  background-color: #e89e2e;
  color: black; 
}
.experienceAndDescription{
  
  text-align: left;
  margin-top: 30px;
  width: 100%;
  height: 1.5cm;
  color: black; 
}
.myname{
  margin-left: 10px;
  font-size: 30px;
}




/* .skillText{
  margin-left: 15px;
}
.w3-grey{
  height:24px;
  width:20%;
}
.column{
  float: let;
}
.left{
  width: 20%;
}
.left{
  width: 30%;
} */






/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
